<div class="h3">Your Cart</div>
<table>
  <%= render(cart.line_items) %>

  <tr>
    <td>Total</td>
    <td><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>

<%= button_to 'Empty cart', cart, :type => "button", :class => "btn btn-ttc", :method => :delete, :confirm => 'Are you sure?' %>
