<div class="h3">Your Cart</div>
<table>
  <%= render(cart.line_items) %>

  <tr>
    <td>Total</td>
    <td><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>

<%= link_to 'Empty cart', cart, :type => "button", :class => "btn btn-default", :method => :delete, :confirm => 'Are you sure?' %>

<%= link_to "Check out", new_order_path, :method => :get , :type => "button", :class => "btn btn-success" %>
